<% @back_or_search = "back" %>
<%= render 'shared/header' %>

<ul class="specialist">
  <%= link_to 'Specialist toevoegen', new_specialist_path, class:"button blue" %>
</ul>

<div class="specialist-group">
  <% @specialist.each do |specialist| %>
    <ul class="specialist">
      <li><%= link_to specialist.name, specialist %></li>
      <li><%= link_to 'bewerk specialist', edit_specialist_path(specialist), class:"button white" %></li>
      <li><%= link_to 'verwijder specialist', specialist, method: :delete, data: { confirm: "Weet je het zeker?" }, class:"button blue"%></li>
    </ul>
  <% end  %>
</div>

<%= render 'shared/tabbar' %>
