<% @back_or_search = "back" %>
<%= render 'shared/header' %>

<br>
<ul class="container specialist-bio">
  <li><lable>Name: </lable><%= @specialist.name %></li>
  <li><lable>Beroep: </lable><%= @specialist.profession %></li>
  <li><lable>Bio: </lable><%= @specialist.bio %></li>
</ul>

<%= render 'shared/tabbar' %>
