<%= form_for @article do |content| %>

<%= render 'shared/error_messages_article' %>
<h1> Nieuw bericht toevoegen</h1>
<%= content.text_field :title, placeholder: 'Berichttitel..' %><br />
<%= content.text_field :author, placeholder: 'Auteur..' %><br />
<%= content.text_area :content, placeholder: 'Origineel nieuwsbericht..' %><br />
<%= content.text_field :source, placeholder: 'Bron nieuwsbericht..' %><br />
<%= content.text_field :all_tags, placeholder: "Tags separated with comma" %>
<h2> Vragen bij artikel </h2>

<%= content.fields_for :questions do |builder| %>
  <%= render 'question_fields', :f => builder %>
<% end %>

<h2>Uitleg bij artikel</h2>
<%= content.text_area :explanation, placeholder: 'Uitleg specialist..' %><br />

<%= content.collection_select :specialist_id, Specialist.order(:name),:id,:name, include_blank: false %>
<br />

<%= content.submit "Publiceer artikel" %>
<% end %>
