<% @back_or_search = "search" %>
<%= render 'shared/header' %>

<% @article.each do |article| %>

<%= link_to article do %>
  <article class="news-article", style="background: url(<%= article.article_image.url(:medium) %>)">
    <header>
      <h2 class="title"><%= article.title %></h2>
    </header>
  </article>
  <% end %>
<% end %>

<% if current_user.admin? %>
  <%= link_to "Nieuw artikel", new_article_path %>
  <%= link_to "Beheer specialisten", specialists_path %>
<% end %>

<%= render 'shared/tabbar' %>
