<% @back_or_search = "search" %>
<%= render 'shared/header' %>

<h1>Artikelen</h1>
____________________________________________________________________
<% @article.each do |article| %>
<ul><h2>
  <%= image_tag article.article_image.url(:medium) %>
  <%= link_to article.title, article %>
  <%= article.created_at.strftime("%e-%m") %>
</h2></ul>
____________________________________________________________________
<% end %>
<br />
<% if current_user.admin? %>
<%= link_to "Nieuw artikel", new_article_path %>
<%= link_to "Beheer specialisten", specialists_path %>
<% end %>

<%= render 'shared/tabbar' %>