<%= link_to 'Vorige', 'javascript:history.go(-1);' %>

<h1>Artikelen</h1>
<%= link_to "Profiel", current_user%><br />
____________________________________________________________________

<% @article.each do |article| %>
<ul><h2>
  <%= link_to article.title, article %>
  <%= article.created_at.strftime("%e-%m") %>
</h2></ul>
____________________________________________________________________
<% end %>
<br />
<% if current_user.admin? %>
<%= link_to "Nieuw artikel", new_article_path %>
<%= link_to "Beheer specialisten", specialists_path %>
<% end %>