<h1>Artikelen</h1>
<%= link_to "Profiel", current_user%><br />
____________________________________________________________________

<% @article.each do |article| %>
<ul><h2>
  <%= link_to article.title, article %>
  <%= article.created_at.strftime("%e-%m") %>
</h2></ul>
____________________________________________________________________
<% end %>
<br />
<% if current_user.admin? %>
<%= link_to "Nieuw artikel", new_article_path %>
<%= link_to "Nieuwe specialist", new_specialist_path %>
<% end %>