<% @back_or_search = "back" %>
<%= render 'shared/header' %>

<article class="">
  <figure class="news-article" style="background-image: url(<%= @article.article_image.url(:medium) %>);">
    <h2 class="title"><%= @article.title %></h2>
  </figure>

  <div class="news-article__container">
    <!-- <p>Geschreven door: <%= @article.author %></p> -->
    <p><%= @article.content.html_safe %></p>
    <div class="tags">
      <h2 class="title">Tags bij dit artikel:</h2>
      <ul>
        <% @article.tags.each do |tag| %>
        <li class="tag"><%= link_to tag.name, tag_path(tag.name) %></li>
        <% end %>
      </ul>
    </div>

    <% if current_user.favorited?(@article) %>
      <%= link_to "Favoriet verwijderen", article_favorite_path(@article), class:"button blue favorite-active", method: :delete %>
    <% else %>
      <%= link_to "Opslaan in favorieten", article_favorite_path(@article), class:"button blue favorite", method: :post %>
    <% end %>
  </div>
</article>

<div class="quiz">
  <h2 class="quiz-title">Vragen bij dit artikel</h2>

  <% for x in 0..2 %>
    <ul class="question-group">
      <li class="question basecopy-negative">
        <%= question_content(x) %>
      </li>

      <li>
        <ul class="answers">
          <% for i in 0..2 %>
          <li class="answer" id="" data-correct="<%= question_answer_correct?(x, i) %>">
            <%= question_answer(x, i) %>
          </li>
          <% end %>
        </ul>
      </li>
    </ul>
  <% end %>
</div>

<% if current_user.admin? %>
<%= link_to "Verwijder", @article, method: :delete, data: { confirm: "Weet je het zeker?" } %>
<%= link_to "Bewerk", edit_article_path %>
<% end %>

<div class="container advice">
  <ul>
    <li><h2>Uitleg van de specialist</h2></li>
    <li><%= @article.explanation %></li>
    <li><h2>Advies van:</h2></li>
    <li><%= @article.specialist.name %></li>
    <li><h2>Beroep specialist:</h2></li>
    <li><%= @article.specialist.profession %></li>
    <li><h2>Over de specialist:</h2></li>
    <li><%= @article.specialist.bio %></li>
  </ul>

  <span class="article-source">
    <h2><%= link_to("Klik hier voor het originele artikel", @article.source) %></h2>
  </span>
</div>

<%= render 'shared/tabbar' %>
