<ul><h1><%= @article.title %></h1></ul>
<ul>geschreven door: <%= @article.author %></ul>
<ul><%= @article.content %></ul>
<ul>bron: <%= @article.source %></ul>
<%= link_to "Terug naar overzicht", :articles %>