<ul><h2><%= @article.title %></h2></ul>
<ul>geschreven door: <%= @article.author %></ul>
<ul><%= @article.content %></ul>
<ul>bron: <%= @article.source %></ul>

<ul><h2>Vragen en antwoorden</h2></ul>



<ul><h2>Antwoorden</h2></ul>

<ul>
<% for x in 0..2 %>
  <%= question_content(x) %><br /> 
  <% for i in 0..2 %>
    <%= question_answer(x, i) %><br />
  <% end %>
  <br />
<% end %>
</ul>

<ul><h2>Uitleg van de specialist</h2></ul>

<ul>
<b>Advies van: </b><%= @article.specialist.name %> <br />
<br />
<ul> <%= @article.explanation %> </ul>
<br />
<b>Beroep specialist: </b><%= @article.specialist.profession %> <br /><br />
<b>Over de specialist: </b><%= @article.specialist.bio %><br />
</ul>



<%= link_to "Terug naar overzicht", :articles %>



<% if current_user.favorited?(@article) %>
  <%= link_to "Favoriet verwijderen", article_favorite_path(@article), method: :delete %>
    <% else %>
  <%= link_to "Artikel opslaan in favorieten", article_favorite_path(@article), method: :post %>
<% end %>

<br />
<%= link_to "Verwijder artikel", @article, method: :delete, data: { confirm: "Weet je het zeker?" } %>
