<%= form_for @user do |f| %>
  <%= f.submit "Terug", :name => "back_button", class:"icon back grey" %>

<div class="section container">
  <h1 class="page-title center">Aanmelden</h1>
  <p class="center">
    Voor we kunnen beginnen heb ik nog wat gegevens van je nodig.
    Het invullen is zo klaar. <br>Tip: Het oogje helpt je om het wacthwoord te controleren.
  </p>
  <%= render 'shared/error_messages' %>
</div>

<div class="section image">
  <img class="floorfamily" src="<%= asset_path( 'Floor_inlog.svg' ) %>" />
</div>

<div class="section action">
  <%= f.email_field :email, placeholder: "Email..", class:"input" %>
  <%= f.password_field :password, placeholder: "Wachtwoord..", class:"input" %>
  <%= f.password_field :password_confirmation, placeholder: "Bevestig wachtwoord..", class:"input" %>
  <%= f.submit "Account maken", class:"button blue" %>
  <% end %>

  <div class="nav-bullets">
    <span class="bullet full"></span>
    <span class="bullet full"></span>
    <span class="bullet full"></span>
  </div>
</div>
