<div class="section">
  <%= link_to 'vorige', 'javascript:history.go(-1);', class:"icon back grey" %>
  <img class="flooralone" src="<%= asset_path( 'Floor-smile.svg' ) %>" />
</div>

<div class="section container">
  <h1 class="page-title center">
    Even voorstellen ik ben Floor,
    Hoe heet jij?
  </h1>
</div>

  <div class="section action">
    <%= form_for @user do |f| %>
      <%= render 'shared/error_messages' %>
      <%= f.text_field :firstname, placeholder: "Voornaam..", class: "input" %>
      <%= f.submit "Verder", class:"button blue" %>
    <% end %>

    <div class="nav-bullets">
      <span class="bullet full"></span>
      <span class="bullet"></span>
      <span class="bullet"></span>
    </div>
  </div>
</div>
