<% @back_or_search = "back" %>
<%= render 'shared/header' %>

<h1>Favoriete artikelen van <%= @user.firstname %></h1>

<% if @favorite %>
  <%= form_for([@article, @favorite], method: "delete") do %>
    <%= submit_tag "Remove favorite" %>
  <% end %>
<% end %>

<% @user.favorites.each do |favorited| %>
<ul>
<% article = favorited.favorited_id %>
<%= link_to Article.find(article).title, article_path(article) %>
<%= link_to "Favoriet verwijderen", article_favorite_path(article), method: :delete %>
<br />
  -----------------------------------
</ul>
<% end %>

<%= render 'shared/tabbar' %>
