<% @back_or_search = "back" %>
<%= render 'shared/header' %>

<div class="container">
  <h1 class="page-title">Favoriete artikelen van <%= @user.firstname %></h1>
</div>


<ul class="overview-list">
  <% @user.favorites.each do |favorited| %>
    <li>
      <div class="wrapper">
        <%= link_to(article_path(favorited.favorited_id)) do %>
          <h2><%= Article.find(favorited.favorited_id).title %></h2>
          <span class="icon">b</span>
        <% end %>
        <%= link_to "verwijderen", article_favorite_path(favorited.favorited_id), method: :delete , class: "delete" %>
      </div>
    </li>
    <% end %>
</ul>

<% if @favorite %>
  <%= form_for([@article, @favorite], method: "delete") do %>
    <%= submit_tag "Remove favorite" %>
  <% end %>
<% end %>

<%= render 'shared/tabbar' %>
