<% @back_or_search = "back" %>
<%= render 'shared/header' %>

<h1 class="page-title">Favoriete artikelen van <%= @user.firstname %></h1>

<% if @favorite %>
  <%= form_for([@article, @favorite], method: "delete") do %>
    <%= submit_tag "Remove favorite" %>
  <% end %>
<% end %>


<ul class="overview-list">
  <% @user.favorites.each do |favorited| %>
    <li><% article = favorited.favorited_id %>
      <h2> <%= link_to Article.find(article).title, article_path(article) %></h2>
      <span class="icon">b</span>
    </li>
</ul>
<%= link_to "Favoriet verwijderen", article_favorite_path(article), method: :delete %>
<% end %>

<%= render 'shared/tabbar' %>
