<% @back_or_search = "back" %>
<%= render 'shared/header' %>

<div class="container">
  <h1 class="page-title center"> Hallo, <%= @user.firstname %> </h1>
  <p class="center">je kan hier uitloggen en je account wijzigen</p>

  <%= link_to "Account wijzigen", edit_user_path(current_user), class:"button" %>
  <%= link_to "Uitloggen", logout_path, method: "delete", class:"button" %>
</div>

<% if current_user.admin? %>
<br /> Deze gebruiker is een admin. <br />
<%= link_to "Gebruikersoverzicht", users_path %>
<% end %>

<%= render 'shared/tabbar' %>
