<header class="header">
  <% if @back_or_search == "back" %>
  <span>
    <%= link_to 'a', 'javascript:history.go(-1);', class:"icon" %>
    <%= link_to 'Terug', 'javascript:history.go(-1);' %>
  </span>
  <% elsif @back_or_search == "search" %>
    <span class="icon">j</span>
  <% end %>
  <span class="logo">Floor</span>
  <%= link_to "h", current_user, class: "icon"  %>
</header>

<% if @back_or_search == "search" %>
  <div class="search-bar">
    <%= form_tag(articles_path, :method => "get", id: "tag") do %>
      <%= text_field_tag :tag, params[:tag], placeholder: "Zoek een artikel.." %>
    <% end %>
  </div>
<% end %>
