<% @back_or_search = "back" %>
<%= render 'shared/header' %>

<% if current_user.admin? %>
<%= link_to 'Feitje toevoegen', new_fact_path %>
<% end %>

<div class="container">
  <h1 class="page-title">Alles wat je moet weten over diabetes type-II</h1>
</div>

<ul class="overview-list">
  <% @fact.each do |fact| %>
    <li>
      <%= link_to fact do %>
        <h2 class="overview-list-title"><%= fact.title %></h2>
        <span class="icon">b</span>

        <% if current_user.admin? %>
          <%= link_to 'Bewerk feitje', edit_fact_path(fact) %>
          <%= link_to 'Verwijder feitje', fact, method: :delete,
            data: { confirm: "Weet je het zeker?" } %>
        <% end %>
      <% end %>
    </li>
  <% end %>
</ul>

<%= render 'shared/tabbar' %>
