<!DOCTYPE html>
<html>
  <head>
    <title>NedapDiabetes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <main>
      <div class="main">
          <% flash.each do |message_type, message| %>
            <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
          <% end %>
        <%= yield %>
        <%= debug(params) if Rails.env.development? %>
      </div>

      <%= render 'shared/tabbar' %>
    </main>
  </body>
</html>
